.btn-blue {
    @apply bg-red-500 text-white;
    :hover {
        @apply bg-red-700;
      }
  }
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }

  div.gallery {
    margin: 10px;
    border: none;
    float: left;
    width: 200px;
    height: 300px;
   }
   div.gallery img {
    width: 100%;
    height: auto;
   }
   div.desc {
    padding: 5px;
    font-weight: 300;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
   }